= form_for(@train) do |form|
  = render 'layouts/error', resource: train
  .field
    = form.label :number
    = form.text_field :number
    = form.select :route_id, options_from_collection_for_select(@routes, :id, :name)

  .actions
    = form.submit
