#notice= notice
.col-lg-6
  %strong Title:
  = @train.number
  %br

  %strong Route:
  = @train.route&.name || 'No route'
  %br

  %strong Wagons:
  - @wagons_count.each do |grade, count|
    = "#{grade}: #{count}"
  %br

  %strong Seats:
  - @seats_count.each do |grade, counts|
    - counts.each do |type, count|
      = "#{grade}-#{type} = #{count}"

= link_to 'Edit', edit_train_path(@train)
%br
= link_to 'Back', trains_path
