#notice= notice
.col-lg-6
  %strong Title:
  = @train.number
  %br

  %strong Route:
  = @train.route&.name || 'No route'
  %br

.col-lg-6
  %strong Wagons:
  - @train.sorted_wagons.each do |wagon|
    = link_to wagon.number, wagon_path(id: wagon.id)

= link_to 'Edit', edit_train_path(@train)
%br
= link_to 'Back', trains_path
