#notice= notice
.col-lg-6
  %strong Title:
  = @train.number
  %br

  %strong Route:
  = @train.route&.name || 'No route'
  %br

  %strong Wagons:
  = "berth: #{@berth_count}"
  = "roomette: #{@roomette_count}"
  %br

  %strong Seats:
  - @seats_count_by_wagon_type.each do |grade, counts|
    - counts.each do |type, count|
      = "#{grade}-#{type}: #{count}"

= link_to 'Edit', edit_train_path(@train)
%br
= link_to 'Back', trains_path
