#notice= notice
.col-lg-6
  %strong Title:
  = @train.number
  %br

  %strong Route:
  = @train.route&.name || 'No route'
  %br

  -# OLD
  -#%strong Wagons:
  -#= "berth: #{@berth_count}"
  -#= "roomette: #{@roomette_count}"
  -#%br
  -#
  -#%strong Seats:
  -#- @seats_count_by_wagon_type.each do |grade, counts|
  -#  - counts.each do |type, count|
  -#    = "#{grade}-#{type}: #{count}"

.col-lg-6
  %strong Wagons:
  - if @train.by_asc
    - @train.wagons.each do |wagon|
      = link_to wagon.number, wagon_path(id: wagon.id)
  - else
    - @train.wagons.reverse_each do |wagon|
      = link_to wagon.number, wagon_path(id: wagon.id)

= link_to 'Edit', edit_train_path(@train)
%br
= link_to 'Back', trains_path
