%p#notice= notice
%p
  %strong Title:
  = @train.number
  %strong Route:
  - if @train.route
    = @train.route.name
  - else
    No route

= link_to 'Edit', edit_train_path(@train)
%br/
= link_to 'Back', trains_path
