= form_for @wagon.becomes(Wagon) do |form|
  = render 'layouts/error', object: wagon
  .col-lg-6
    %tr
      %th Type:
      %tbody
    .field
      %td= form.select :type, %w[EconomyWagon SeatingWagon, SvWagon, CoupeWagon]

  .col-sm-12
    %th Train:
    %td= form.select :train_id, options_from_collection_for_select(@trains, :id, :number)

    %tr
      .col-sm-6
        %th Top seats:
        %td= form.select :top_seats, options_for_select(0..15), { prompt: 'No seats' }
      .col-sm-6
        %th Bottom seats:
        %td= form.select :bottom_seats, options_for_select(0..15), { prompt: 'No seats' }
      .col-sm-6
        %th Side top seats:
        %td= form.select :side_top_seats, options_for_select(0..15), { prompt: 'No seats' }
      .col-sm-6
        %th Side bottom seats:
        %td= form.select :side_bottom_seats, options_for_select(0..15), { prompt: 'No seats' }
      .col-sm-6
        %th Seating seats:
        %td= form.select :seating_seats, options_for_select(0..40), { prompt: 'No seats' }

  .actions
    = form.submit
