#notice= notice
.col-lg-6
  %strong Title:
  = @wagon.number
  %strong Train:
  = @wagon.train.number || 'No train'
  %strong Type:
  = @wagon.type
  %strong Seats:
  - @wagon.show_seats_count.each do |type, count|
    = "#{type}: #{count}"

= link_to 'Edit', edit_wagon_path(@wagon)
%br
= link_to 'Back', wagons_path
